<header>
	<% logo= image_tag("logo_black.jpg",:alt => "Bunchit App",:id=>"logo",:class => "round",:height => "25",:width => "155") %>
	<%= link_to logo, root_path,:class=>"span-5"%>
	<%=form_tag "/"+@source_setting,:method=>"get",:id=>"queryFormResultsPage",:onSubmit=>"return validate();",:id=>"searchForm" do%>
	<%= text_field_tag :query, @query,:size=>50,:id=>"searchBarResults",:class=>"searchBar span-10",:autocomplete=>"off"%>
	<%= submit_tag "",:name=>nil,:id=>"searchButtonResultsPage",:onSubmit=>"alert('sadfasf')" %>
	
	<script>
		! function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if(!d.getElementById(id)) {
				js = d.createElement(s);
				js.id = id;
				js.src = "//platform.twitter.com/widgets.js";
				fjs.parentNode.insertBefore(js, fjs);
			}
		}(document, "script", "twitter-wjs");
	</script>
	<!-- Disable browser cache-->
	<script>
		function OperaReload() {
			try {
				var headElement = document.getElementsByTagName("head")[0];
				if(headElement && headElement.innerHTML)
					headElement.innerHTML += "<meta http-equiv=\"refresh\" content=\"1\">";
			} catch (e) {
			}
		}
	</script>

	<script>
		! function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if(!d.getElementById(id)) {
				js = d.createElement(s);
				js.id = id;
				js.src = "//platform.twitter.com/widgets.js";
				fjs.parentNode.insertBefore(js, fjs);
			}
		}(document, "script", "twitter-wjs");

	</script>
	<nav class="round">
		<ul>
			<li>
				<%= link_to "Home", root_path%>
			</li>
			<li>
				<%= link_to "What is Bunch<it>", help_path %>
			</li>
			<% if signed_in? %>
			<li>
				<%= link_to 'Sign out', logout_path, :method => :delete %>
			</li>
			<li>
				<%= link_to "Profile "+current_user.user_name, user_path(@user), :method => :delete %>
			</li>
			<% else %>
			<li>
				<%= link_to "Sign in", new_user_session_path %>
			</li>
			<% end %>
		</ul>
	</nav>
	<%end%>
	<!--<a href="https://twitter.com/BunchItSearch" class="twitter-follow-button" data-show-count="false">Follow Us</a>-->
</header>