<div class="videoDialog">
	<div id="videoDialog" title="Youtube Video">
		<iframe title="YouTube video player" class="youtubePlayer" type="text/html" width="560"
		height="315" src="http://www.youtube.com/embed/{ID}" frameborder="0"
		allowFullScreen></iframe>
	</div>
</div>