<%if !user_signed_in?%>
<%= link_to "Sign up!", new_user_registration_path, :class => "signup_button"%>
<%else%>
<%=%>
<%end%>
<a class="askAddressButton" href="#" onclick="openMap();">Address&Weather</a>
<center>
	<div  class="homeContent">
		
		<%= image_tag "bunchit_logos/bunchit_buddle.jpg", :alt => "buncho", :id => "buncho"%>BETA
		<%=form_tag "/"+@source_setting, :encoding=>"",:method=>"get", :id=>"queryForm", :onSubmit=>"return validate();" do%>
		<%= text_field_tag :query, "",:size=>50, :id=>"searchBarHome", :placeholder=>'Ask to Bunch!',:class=>"searchBar",:autocomplete=>"off"%>
		<%= submit_tag "",:name=>nil,:id=>"searchButton", :class=>"round" %>
		<%end%>

		<%= render "/layouts/source_select_home_links.html.erb"%>

		<!---<center>
			<iframe id="homeVideo" style="padding-top: 30px;" width="560" height="315" src="http://www.youtube.com/embed/lh95q0o1b3w" frameborder="0" allowfullscreen></iframe>
		</center>-->
	</div>

</center>