<%if !user_signed_in?%>
<%= link_to "Sign up!", new_user_registration_path, :class => "signup_button"%>
<%else%>
<%=%>
<%end%>
<a class="askAddressButton" href="#" onclick="openMap();">Address&Weather</a>
<center>
	<div  class="homeContent">
		<%= image_tag "bunchit_logos/bunchit_buddle.jpg", :alt => "buncho", :id => "buncho"%>BETA
		<%=form_tag "/"+@source_setting, :encoding=>"",:method=>"get", :id=>"queryForm", :onSubmit=>"return validate();" do%>
		<%= text_field_tag :query, "",:size=>50, :id=>"searchBarHome", :placeholder=>'Ask to Bunch!',:class=>"searchBar",:autocomplete=>"off"%>
		<%= submit_tag "",:name=>nil,:id=>"searchButton", :class=>"round",:onSubmit=>"" %>
		<%end%>

		<%= render "/layouts/source_select_home_links.html.erb"%>

		
	</div>
</center>