<table id="homeContent">
	<div id="graphContainer" style="float:left; height: 580px; width: 50%;">
		<%= render "layouts/resultPage/graphMap/graphMap_selectors.html.erb"%>
		<%= render "layouts/resultPage/tagCloud/tagCloud_selectors.html.erb"%>
		<%= render "layouts/resultPage/visual_selector.html.erb"%>
		<div class="border" id="graphMap">
			<!-- Graph Map comes here-->
		</div>
	</div>
	<div class="resultsDiv">
		<%= render "layouts/source_select_links.html.erb"%>
		</br>

		<span class="rank">Total <%= @response['documents'].size%> results</span>

		<% @rank = 0%>
		<% @response['documents'].each do |docs|%>
		<% @rank = @rank+1%>
		<% @id = 'result'+docs['id'].to_s%>
		<% @faviconURL = docs['url']%>
		<% @faviconURL = @faviconURL[7..@faviconURL.length]%>
		<%
 index = @faviconURL.index('/')
      if(!index.nil?)
        @faviconURL = @faviconURL[0..index-1]
      end
%>
		<div id="<%= @id%>" class="resultDiv" onmouseover="$('#<%= @id%>').addClass('highlightCustom')" onmouseout="$('#<%= @id%>').removeClass('highlightCustom')">
			<div>
				<div class="faviconDiv">
					<img class="favicon" id="favicon<%= @id%>" width="16" height="16"  alt="" src="http://www.google.com/s2/favicons?domain=<%= @faviconURL%>" style="visibility: visible;"> </a>
				</div>
				<a class="linkBig link draggableTitle" href="<%= docs['url']%>"> <%if (!docs['title'].nil?)%>
				<%= highlight_keyword(docs['title'],@query) %>
				<%end%></a>
			</div>
			<div id="snippetDiv">
				<%if (!docs['snippet'].nil?)%>
				<%= highlight_keyword(docs['snippet'],@query) %>
				<%end%>
			</div>
			<div>
				<a class="url" href="<%= docs['url']%>"> <%= highlight_keyword(docs['url'],@query)%> </a>
			</div>
		</div>
		<%end%>
	</div>
</table>