<h1>About Bunch-it</h1>
<p>
	<h5></h5>
		<p>
			Bunch<it> is a clustering and personalazied search engine that aims to improve your search experience
			via good support of visual components, clustering algorithms and search suggestions algorithms. It utilized from known search engines to get top rated results that it represents
			them in efficient way.
		<p>
			This project is developing as a senior project in Bilkent University in Information Retrieval Group.
		</p>
		<hr />
		<h5>Project Supervisors</h5>
		<p>
			Prof. Fazli Can - <i>"Main Supervisor"</i>
			<br>
			Asist. Prof. Tolga Capin - <i>"Jury Member"</i>
			<br />
			Asist. Prof. Pinar Duygulu Sahin - <i>"Jury Member"</i>
		</p>	
		<h5>Project Members</h5>
		<p>
			<a href="http://eren.0fees.net">Eren Golge</a> - <i>"Researcher and developer"</i> - erengolge 'at' gmail.com
			<br />
			H. Bahadir Sahin - <i>"Resercher and Developer"</i> - 
			<br />
			Irmak Tosunoglu - <i>"Web Designer and Researcher"</i>
		</p>
</p>