
<p>
	<h5></h5>
		<p>
			Bunch<it> is a clustering and personalazied search engine that aims to improve your search experience
			via good support of visual components, clustering algorithms and search suggestions algorithms. It utilized from known search engines to get top rated results that it represents
			them in efficient way.
		<p>
			This project was founded as a senior project in Bilkent University.
		</p>
		<hr />
		<h5>Project Developers</h5>
		<p>
			<a href="http://eren.0fees.net">Eren Golge</a> - <i>"Currently only active, all in one developer."</i> - erengolge 'at' gmail.com - <a href="https://twitter.com/erogol" class="twitter-follow-button" data-show-count="false">Follow @erogol</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			<br />
			H. Bahadir Sahin - <i>"(was) Researcher and Developer - Thanks for his contributions"</i> - 
			<br />
			Irmak Tosunoglu - <i>"(was) Web Designer and Researcher - Thanks for her contributions"</i>
		</p>
		
		<h5>Project Supervisors (were)</h5>
		<p>
			Prof. Fazli Can - <i>"Main Supervisor"</i>
			<br>
			Asist. Prof. Tolga Capin - <i>"Jury Member"</i>
			<br />
			Asist. Prof. Pinar Duygulu Sahin - <i>"Jury Member"</i>
		</p>	
</p>
