<h1>Functions of Bunch-It</h1>
<p>
	<b><h3></h3></b>
	<table>
		<tr>
			<td>
			
				<b>Clustered Results on Graph Map </b><img style="vertical-align:middle;" src="assets/graphmap_snapshot.png" />
			</td>
			<td>
			<p>
				<i>You can see the results related to any cluster by clicking on it.</i>
			</p>
			<p>
				<i>Numbers on the nodes are number of results inside the cluster.</i>
			</p>
			<p>
				<i>Size of the nodes, overal score of the results inside the cluster</i>
			</p>
			<p>
				<i>Boldness of the edges, is relative to the number of results overlaped between two clusters</i>
			</p>
			<p>
				<i>You can see the number of overlapping cluster by waiting your cursor on edges</i>
			</p>
			<p>
				<i>You might use clusters for your next search by choosing clusters with Ctrl+"Right Click" and double clicking on the last node you choose.</i>
			</p><hr/></td>
		</tr>
		<tr>
			<td style="vertical-align:top;">
				 <b >Result Bookmarking </b> &nbsp;&nbsp;&nbsp;&nbsp;<img style="vertical-align:middle;" src="assets/folder100x100.jpg" /> (Smart Folder)
			</td>
			<td>
			<p>
				<i>You might reach bookmark folders from profile page or the Smart Folder from results page.</i>
			</p>
			<p>
				<i>Drag any result from its title to Smart Folder to bookmark it.</i>
			</p>
			<p>
				<i>Click on Smart Folder to see folder menu and create new Folder if you want.</i>
			</p>
			<p>
				<i>All you bookmarks will be rest in peace to be available to you when you want.</i>
			</p>
			<hr />
			</td>
		</tr>
		<tr>
			<td style="vertical-align:top;">
				<b >Search history information about the user </b>
			</td>
			<td>
			<p>
				<i>You might reach the history from your profile page.</i>
			</p>
			<p>
				<i>This function is under development, but will be greate :).</i>
			</p><hr/></td>
		</tr>
	</table>
	<b></b><center> <iframe width="560" height="315" src="http://www.youtube.com/embed/Qg4ZNUc5Rw4" frameborder="0" allowfullscreen></iframe></center></td>
</p>
