<%if !user_signed_in?%>
<%= link_to "Sign up now!", new_user_session_path, :class => "signup_button"%>
<%else%>
<%=%>
<%end%>
<center>
	<div  class="homeContent">
		<%= image_tag "bunchit_logos/bunchit_buddle.jpg", :alt => "buncho", :id => "buncho"%>
		<%=form_tag "/results", :encoding=>"",:method=>"get", :id=>"queryForm", :onSubmit=>"return validate();" do%>
		<%= text_field_tag :query, "",:size=>50, :id=>"searchBarHome", :class=>"searchBar",:autocomplete=>"off"%>
		<%= submit_tag "",:name=>nil,:id=>"searchButton", :class=>"round",:onSubmit=>"" %>
		<%end%>
		<span id="sourcesButtonSet"> <%= link_to "Web", web_path,:class=>"sourceLinks",:Id=>"web_source"%>
			<%= link_to "Wiki",wiki_path,:class=>"sourceLinks",:Id=>"wiki_source"%>&nbsp;&nbsp;&nbsp;
			<%= link_to "News",news_path,:class=>"sourceLinks",:Id=>"news_source"%>&nbsp;&nbsp;&nbsp;
			<%= link_to "Images",imgs_path,:class=>"sourceLinks",:Id=>"image_source"%>&nbsp;&nbsp;&nbsp;
			<%= link_to "Jobs",job_path,:class=>"sourceLinks",:Id=>"job_source"%>&nbsp;&nbsp;&nbsp; </span>

	</div>
</center>