<style type="text/css">
	
</style>
<html>
	<head>
		<script type="text/javascript" src="d3.js"></script>
		<script type="text/javascript" src="d3.layout.cloud.js"></script>
		<script type="text/javascript" src="tagcloud.js"></script>
	</head>
	<body onload="initCloud();">
		<a id="download-png" href="#" target="_blank">PNG</a>
		<div id="vis">
		</div>
	</body>
</html>