<span id="tagCloudButtonSet" style="display:  none;">
	<input type="button" value="Random"  onclick="updateTagCloudSetting('def');updateTagCloudSetting('def');"/>
	<input type="button" value="Setting 1"   onclick="updateTagCloudSetting(1);updateTagCloudSetting(1);">
	<input type="button" value="Setting 2"   onclick="updateTagCloudSetting(2);updateTagCloudSetting(2);">
	<input type="button" value="Setting 3"   onclick="updateTagCloudSetting(3);updateTagCloudSetting(3);">
	<input type="button" id="download-png"  onclick="return downloadPNG();" value='Save as Image'>
</span>