<span id="graphMapButtonSet" style="display:none;">
	<input type="button" value="Content GraphMap"  onclick="graphMapSetting0();"/>
	<input type="button" value="Web site GraphMap"   onclick="graphMapSetting1();">
	<input type="button" value="Show All Results(reset)"   onclick="showAll();">
</span>