<div id="rightDiv">
		<div id="feedback" onClick="$('#feedbackForm').dialog('open');">
			<a href="#"><img src="/assets/feedback.png" /></a>
		</div>
</div>

<div id="feedbackForm" title="Thanks for feedback!">
	<p class="validateTips">Name and Email fields are optional.</p>

	<form method="post" action="/feedback" onsubmit="return checkAnswer();">
		<fieldset>
			<input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all" placeholder="Name"/><br />
			<input type="text" name="email" placeholder="Email" id="email" value="" class="text ui-widget-content ui-corner-all" /><br />
			<textarea placeholder="Please type your message.."  name="feedback" id="feedbackMsg" rows="5" columns="20" value="" class="text ui-widget-content ui-corner-all" ></textarea><br />
			4+4=<input type="text" id="feedbackAnswer" name="answer" placeholder="Are you a human?"/>
			<input class="round" type="submit" id="sendFeedbackButton" value="Send Feedback" />
			<span id="feedbackError"></span>
		</fieldset>
	</form>
</div>

<script type="text/javascript">
		$('#feedbackForm').dialog({
			autoOpen:false,
			width:'auto',
			hegiht:'auto',
			resizable:false
		});
		$('#sendFeedbackButton').button();
		function checkAnswer(){
				var value = $('#feedbackAnswer').val() ;
				var text = $('#feedbackMsg').val();
				if(value == 8){
					if(text.length == 0){
						$('#feedbackError').html("Do you forget to enter <b>message</b>?");
						return false;
					}else{
						return true;
					}
				}else{
					$('#feedbackError').html("Please enter correct <b>answer</b> to question?");
					return false;
				}
			}
</script>
