<div>
	<!--<span id="prog_name">Ask Address </span>-->
	<input type = "text"  class="round" size="50" id="searchBarMap" onclick="deleteContent();" onfocusout="fillContent();" value="Enter address to search"/>
	<span style="cursor:pointer" id="searchButtonMap" onclick="loadAddressXML(document.getElementById('searchBarMap').value)">search</span>
	<span>Click on for address and weather info.</span>
	<script type="text/javascript">
		$("#searchBarMap").keyup(function(event) {
			if(event.keyCode == 13) {
				$("#searchButtonMap").click();
			}
		});
	</script>
</div>
<center>
	<div id="map" style="height:500px; width:700px;">

	</div>
</center>
<div style="height: 10px"></div>

