<div id="container" style="display:none">
	<!--
	Later on, you can choose which template to use by referring to the
	ID assigned to each template.  Alternatively, you could refer
	to each template by index, so in this example, "basic-tempate" is
	index 0 and "advanced-template" is index 1.
	-->
	<div id="basic-template">
		<a class="ui-notify-cross ui-notify-close" href="#">x</a>
		<h1>#{title}</h1>
		<p>
			#{text}
		</p>
	</div>
	<div id="advanced-template">
		<!-- ... you get the idea ... -->
	</div>
</div>