<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="expires" content="0">
		<meta http-equiv="cache-control" content="no-cache">
		<meta http-equiv="pragma" content="no-cache">
		<meta name="description=" content="Bunch-It Results.">

		<title><%= title %></title>
		<%= csrf_meta_tag %>
		<%= render 'layouts/stylesheets.html.erb'%>
		<%= javascript_include_tag  "d3.js", "d3.layout.js", "d3.geom.js","GraphMapUtil.js","tagCloud/tagcloud.js","tagCloud/d3.layout.cloud.js"%>
		<%= javascript_include_tag "http://code.jquery.com/jquery-latest.js"%>
		<%= javascript_include_tag "jquery.tipsy.js", "jquery-ui-1.8.18.custom.min.js", "jquery.notify.js", "jquery.myhighlight-3.min.js", "result_page_modify.js"%>
		<%= javascript_include_tag "ganalytic.js","cookie/cookie.js"%>
		<link rel="shortcut icon" href="favicon.ico" >
		<!-- redirect mobile users -->
		<script type="text/javascript">
			<!--
			if(screen.width <= 699) {
				document.location = "http://www.bunch-it.com/mobile.html";
			}
			-->
		</script>
		<%= render "layouts/fileTree/filetree_javascript.html.erb"%>
		<script type="text/javascript">
			var hashAddress = {"graphMap":"","tagCloud":""};
			var json = json = <%= sanitize(@json.delete("<>&"))%>;
			var visualName = "tagCloud";
			
			function activateTagCloud(){
				visualName = "tagCloud";
				switchSettingCookie(visualName);
				hashAddress["graphMap"] = window.location.hash;
				$("#graphMap").attr("id", "vis");
				$("#vis").html(" ");
				initCloud();
				window.location.hash = "#";
				$("#graphMapButtonSet").hide();
				$("#tagCloudButtonSet").show();
				$("#changeVisualButton").attr("value","Graph Map");
			}
			
			function activateGraphMap(){
				visualName = "graphMap";
				switchSettingCookie(visualName);
				//hashAddress["tagCloud"] = window.location.hash;
				$("#vis").attr("id","graphMap");
				$("#graphMap").html(" ");
				window.location.hash = hashAddress["graphMap"];
				startGraphMap();
				$("#tagCloudButtonSet").hide();
				$("#graphMapButtonSet").show();
				$("#changeVisualButton").attr("value","Tag Cloud");
			}
			
			function changeVisual(){
				if(visualName == "graphMap"){
					activateTagCloud();
				}else if(visualName == "tagCloud"){
					activateGraphMap();
				}
			}
			
			function notification(_title, _txt) {
				var $notArea = $("#container").notify();
				$notArea.notify("create", {
					title : _title,
					text : _txt
				});
			}

			function validate() {
				if(document.getElementById("searchBarResults").value == "") {
					return false;
				} else
					return true;
			}

			function setDraggable() {
				$(".draggableTitle").draggable({
					appendTo : 'body',
					scroll : false,
					containment : 'window',
					cursor : "pointer",
					cursorAt : {
						left : 5
					},
					helper : function(event) {
						var text = $(this).text();
						if(text.length > 20)
							text = text.substring(0, 20) + "...";
						return $("<div id='dragDiv'></div>").append(text);
					}
				});

				$('#scrollingDiv').draggable();
				$("#scrollingDiv").droppable({
					drop : function(event, ui) {
						var url = $(ui.draggable).attr("href");
						var title = $(ui.draggable).text();
						var snippet = $(ui.draggable).parent().siblings("#snippetDiv").text();
						addResultToFolder(url, title, snippet);
					}
				});
			}

			/**
			 * Add ajax even to folder image
			 */
			function successFunc(r, url, title, folder) {
				var $notArea = $("#container").notify();
				$notArea.notify("create", {
					title : 'Insertion Succeded : ' + title,
					text : url + ' has been added to folder ' + folder
				});
			}
			
			function getSettingCookie(){
				tempVisualName = readCookie("bunchItVisual");
				if(tempVisualName == null || tempVisualName == "null"){
					createCookie("bunchItVisual",visualName,10);	
				}else{
					visualName = tempVisualName;
				}
			}
			
			function switchSettingCookie(setting){
				createCookie("bunchItVisual",setting,10);
			}

			$().ready(function() {
				/**
				 * accordion effect for folder tree _filetree.html.erb
				 */
				//$.fx.speeds._default = 1000;

				$("#dialog").dialog({
					autoOpen : false,
					show : "blind",
					hide : "explode",
					resizable : true,
					modal : true,
					width : 580
				});

				$("#scrollingDiv").click(function() {
					$("#dialog").dialog("open");
					return false;
				});

				//set the buttons of the visual tools
				getSettingCookie();
				$("#download-png").button();
				$("#changeVisualButtonSet").buttonset();
				$("#changeVisualButtonSet").show();
				$('#tagCloudButtonSet').buttonset();
				$('#graphMapButtonSet').buttonset();
				if(visualName=="graphMap"){
					hashAddress["graphMap"] = window.location.hash;
					activateGraphMap();
					//startGraphMap();
					//setGraphMapWithAnchor();
				}else if(visualName=="tagCloud"){
					activateTagCloud();
				}
				
				$('#sourcesButtonSet').buttonset();
				 $("#"+"<%=@source_setting%>"+"_source").button('disable');

				$("#videoDialog").dialog({
					autoOpen : false,

					modal : true,
					closeOnEscape : true,
					width : 560,
					resizable : false,
					close : function(ev, ui) {
						$(".youtubePlayer").attr("src", "http://www.youtube.com/embed/");
						$(this).close();
					},
				});
				$("#accordion").accordion({
					active : false,
					fillSpace : false,
					collapsible : true,
					autoHeight : false

				});

				/**
				 * give the scrolling animation to folder image
				 */
				//set the span under the folder img
				setFolderImgSpan();

				var $scrollingDiv = $("#scrollingDiv");
				$(window).scroll(function() {
					$scrollingDiv.stop().animate({
						"marginTop" : ($(window).scrollTop() + 30) + "px"
					}, "slow");
				});
				$scrollingDiv.tipsy({
					gravity : 'n',
					fade : 'true',
					fallback : "Drag Titles To Bookmark the URL",
					html : true
				});

				/**
				 * drag function for results
				 */
				setDraggable();

				/**
				 * Add default focus to search bar
				 */
				$(".searchBar").focus();
			});
		</script>
		<%= render "layouts/resultPage/graphMap/graphMap.html.erb"%>
	</head>
	<body>
		<%= render 'layouts/social_div.html.erb'%>
		<div class="container" >
			<%= render 'layouts/resultPage/results_header.html.erb' %>
			<section class="round">
				<% flash.each do |key, msg| %>
				<%= content_tag :div, msg, :class => "flash", :id => key %>
				<% content_tag :script, :type => "text/javascript" do %>
				$('<%= key %>').style.display = 'none';
				new Effect.Appear('<%= key %>', {duration: 3});
				<% end %>

				<% content_tag :script, :type => "text/javascript" do %>
				setTimeout("new Effect.Fade('<%= key %>');", 10000);
				<% end %>
				<% end %>
				<%= yield %>
			</section>
			<%= render 'layouts/footer.html.erb'%>
		</div>
		<%if signed_in?%>
		<div id="scrollingDiv" class="span-3" >
			<%== image_tag("folder100x100.gif", :alt => "Bunchit App",:id=>"resultFolder", :class => "round", :height => "72", :width => "100") %>
			<span id="folderImageName"></span>
		</div>
		<%end%>

		<div id="container" style="display:none">
			<!--
			Later on, you can choose which template to use by referring to the
			ID assigned to each template.  Alternatively, you could refer
			to each template by index, so in this example, "basic-tempate" is
			index 0 and "advanced-template" is index 1.
			-->
			<div id="basic-template">
				<a class="ui-notify-cross ui-notify-close" href="#">x</a>
				<h1>#{title}</h1>
				<p>
					#{text}
				</p>
			</div>
			<div id="advanced-template">
				<!-- ... you get the idea ... -->
			</div>
		</div>

		<%if signed_in?%>
		<div id="dialog" title="Bookmark Folders" style="resize: both;">
			<%= render "layouts/fileTree/filetree.html.erb"%>
		</div>
		<%end%>
		
		<%= render "layouts/feedback_div.html.erb"%>
		<%= render "layouts/resultPage/video_overlay.html.erb"%>
	</body>
</html>