<div class="box">
 
  <ul id="tabMenu">
    <li class="posts selected"></li> 
    <li class="comments"></li>
    <li class="category"></li>
    <li class="famous"></li>
    <li class="random"></li>
  </ul>
 
  <div class="boxTop"></div>
 
  <div class="boxBody">
      
    <div id="posts" class="show parent">
      <ul>
        <li>Post 1</li>
        <li>Post 2</li>
        <li class="last">Post 3</li>
      </ul> 
    </div> 
   
    <div id="comments" class="parent">
      <ul>
        <li>Comment 1</li>
        <li>Comment 2</li>
        <li class="last">Comment 3</li>
      </ul>
    </div>
   
    <div id="category" class="parent">
      <ul>
        <li>Category 1</li>
        <li>Category 2</li>
        <li class="last">Category 3</li>
      </ul> 
    </div>
   
    <div id="famous" class="parent">
      <ul>
        <li>Famous post 1</li>
        <li>Famous post 2</li>
        <li class="last">Famous post 3</li>
      </ul> 
    </div>
   
    <div id="random" class="parent">
      <ul>
        <li>Random post 1</li>
        <li>Random post 2</li>
        <li class="last">Random post 3</li>
      </ul>   
    </div>       
 
  </div>
 
  <div class="boxBottom"></div>
 
</div>