<div id="social">
	<div id="google_plus_one">
		<div id="___plusone_0" style="height: 60px; width: 50px; display: inline-block; text-indent: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: transparent; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; background-position: initial initial; background-repeat: initial initial; ">
			<iframe allowtransparency="true" frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="width: 50px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; height: 60px; position: static; left: 0px; top: 0px; visibility: visible; " tabindex="0" vspace="0" width="100%" id="I1_1336678487097" name="I1_1336678487097" src="https://plusone.google.com/_/+1/fastbutton?bsv=p&amp;url=http%3A%2F%2Fwww.bunch-it.com%2F&amp;size=tall&amp;count=true&amp;hl=en-GB&amp;jsh=m%3B%2F_%2Fapps-static%2F_%2Fjs%2Fgapi%2F__features__%2Frt%3Dj%2Fver%3D7qXDDf2W8j0.en_GB.%2Fsv%3D1%2Fam%3D!5VdQ9Ii80V-IH20oNg%2Fd%3D1%2Frs%3DAItRSTPnNK14ynLqVxY6ehFp_8SBsqGhdg#id=I1_1336678487097&amp;parent=http%3A%2F%2Fwww.bunch-it.com&amp;rpctoken=204225592&amp;_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart" title="+1"></iframe>
		</div>
	</div>
	<div id="facebook">
		<a class="facebook" href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fwww.bunch-it.com%2F&amp;t=BunchIt%20(%20http%3A%2F%2Fwww.bunch-it.com%2F%20)" target="_blank"><img src="/assets/social/facebook.png" alt="Facebook"></a>
	</div>
	<div id="twitter">
		<a class="twitter" href="http://twitter.com/home?status=BunchIt%20(%20http%3A%2F%2Fwww.bunch-it.com%2F%20)" target="_blank"><img src="/assets/social/twitter.png" alt="Twitter"></a>
	</div>
	<div id="digg">
		<a class="digg" href="http://digg.com/submit?phase=2&amp;title=Bunch%20It&amp;url=http%3A%2F%2Fwww.bunch-it.com%2F" target="_blank"><img src="/assets/social/digg.png" alt="Digg"></a>
	</div>
	<div id="reddit">
		<a class="reddit" href="http://reddit.com/submit?title=BunchIt&amp;url=http%3A%2F%2Fwww.bunch-it.com%2F" target="_blank"><img src="/assets/social/reddit.png" alt="Reddit"></a>
	</div>
</div>