<span id="sourcesButtonSet"> <%= link_to "Web", web_path,:class=>"sourceLinks",:Id=>"web_source"%>
	<%= link_to "Wiki",wiki_path(:utf8=>'✓',:query=>@query),:class=>"sourceLinks",:Id=>"wiki_source"%>
	<%= link_to "News",news_path(:utf8=>'✓',:query=>@query),:class=>"sourceLinks",:Id=>"news_source"%>
	<%= link_to "Images",img_path(:utf8=>'✓',:query=>@query),:class=>"sourceLinks",:Id=>"img_source"%>
	<%= link_to "Jobs",job_path(:utf8=>'✓',:query=>@query),:class=>"sourceLinks",:Id=>"job_source"%>
</span>