<span id="sourcesButtonSet"> <%= link_to "Web", webh_path,:class=>"sourceLinks",:Id=>"web_source"%>
	<%= link_to "Wiki",wikih_path,:class=>"sourceLinks",:Id=>"wiki_source"%>
	<%= link_to "News",newsh_path,:class=>"sourceLinks",:Id=>"news_source"%>
	<%= link_to "Images",imgh_path,:class=>"sourceLinks",:Id=>"img_source"%>
	<%= link_to "Jobs",jobh_path,:class=>"sourceLinks",:Id=>"job_source"%> </span>