<!DOCTYPE html>
<html>
	<meta http-equiv="expires" content="0">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="pragma" content="no-cache">
	<meta name="description" content="Bunch-It is a search engine that clusters top rated search results from various sources and gives more concise and efficient way of searching with its GraphMap.">

	<head>
		<!--Map Section-->
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.min.js"></script>
		<script src="http://openlayers.org/api/OpenLayers.js"></script>
		<script src="http://maps.google.com/maps/api/js?v=3.5&amp;sensor=false"></script>
		<script src="assets/map_js/Main.js"></script>
		<script type="text/javascript" src="assets/map_js/xmlHttpRequest.js"></script>
		<script type="text/javascript" src="assets/map_js/Options.js"></script>
		<script type="text/javascript" src="assets/map_js/jquery1.3.js"></script>
		<style type="text/css">
			
		</style>
		<script type="text/javascript">
			
			var address_json;
			
			function deleteContent(){
				document.getElementById('searchBarMap').value="";
			}
			
			function fillContent(){
				document.getElementById('searchBarMap').value = "Enter address to search";
				$('#searchBarMap').select();
			}
			
			
		</script>
		
		<!-- aplication section -->
		<title><%= title %></title>
		<%= csrf_meta_tag %>
		<%= render 'layouts/stylesheets.html.erb'%>
		<%= javascript_include_tag :defaults %>
		<%= javascript_include_tag "jquery.js"%>
		<%= javascript_include_tag "jquery.tipsy.js", "jquery-ui-1.8.18.custom.min.js", "jquery.notify.js"%>
		<%= javascript_include_tag "ganalytic.js"%>
		<link rel="shortcut icon" href="favicon.ico" >
		<!-- redirect mobile users -->
		<script type="text/javascript">
			<!--
			if(screen.width <= 699) {
				document.location = "http://www.bunch-it.com/mobile.html";
			}
			-->
		</script>
		<script type="text/javascript">
			function notification(_title, _txt) {
				var $notArea = $("#container").notify();
				$notArea.notify("create", {
					title : _title,
					text : _txt
				});
			}

			function validate() {
				if(document.getElementById("searchBarHome").value == "") {
					return false;
				} else
					return true;
			}
			
			
			
			function focusSearchBar(){
				var searchBar = document.getElementsByClassName("searchBar")[0];
				if(searchBar != null)
					searchBar.focus();
			}
			
		
			$().ready(function() {
				/**
				 * accordion effect for folder tree _filetree.html.erb
				 */


				/**
				 * auto focus to search bar
				 */
				focusSearchBar();

				$('#sourcesButtonSet').buttonset();
				$("#"+"<%= @source_setting%>"+"_source").button('disable');
			
				// a workaround for a flaw in the demo system (http://dev.jqueryui.com/ticket/4375), ignore!
				$( "#mapDialog" ).dialog({
					autoOpen: false,
					height: "auto",
					width: "auto",
					modal: true,
					show: "blind",
					hide: "explode"
				});
				//init();
			});
			
			function openMap(){
				
				$("homeVideo").hide();
				$("#mapDialog").dialog("open","center");
				refreshMap();
			}
			
			
		</script>
	</head>
	<body>
		<%= render 'layouts/social_div.html.erb'%>
		<div class="container">
			<%= render 'layouts/header.html.erb' %>
			<section class="round">
				<% flash.each do |key, value| %>
				<div class="flash <%= key %>">
					<%= value %>
				</div>
				<% end %>
				<%= yield %>
			</section>
			<%= render 'layouts/footer.html.erb'%> <!--<%= debug(params) if Rails.env.development? %>-->
		</div>
		<%= render 'layouts/notification.html.erb'%>
		<%= render "layouts/feedback_div.html.erb"%>
	</body>
	<div id="mapDialog" title="Basic modal dialog">
		<p><%= render "layouts/map.html.erb"%></p>
    </div>
</html>